apiVersion: v1
kind: Config
current-context: kubectl-to-{{ cluster_name }}
preferences: {}
clusters:
- cluster:
    certificate-authority-data: {{ kube_ca_slurp.content }}
    server: https://{{ ansible_hostname }}:{{ kube_master_api_port }}
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: kubectl
  name: kubectl-to-{{ cluster_name }}
users:
- name: kubectl
  user:
    client-certificate-data: {{ kube_clientcrt_slurp.content }}
    client-key-data: {{ kube_clientkey_slurp.content }}
    token: {{ kubectl_token }}
