{% for node in groups[k8s_hostgroup] %}
apiVersion: v1
kind: Config
current-context: kubelet-to-{{ dns_domain }}
preferences: {}
clusters:
- cluster:
    certificate-authority-data: {{ kube_ca_slurp.content }}
    server: https://{{ node }}:{{ kube_master_api_port }}
  name: {{ dns_domain }}
contexts:
- context:
    cluster: {{ dns_domain }}
    user: kubelet
  name: kubelet-to-{{ dns_domain }}
users:
- name: kubelet
  user:
    client-certificate: {{ kube_cert_dir }}/kubelet.crt
    client-key: {{ kube_cert_dir }}/kubelet.key
{% if not loop.last %}
---
{% endif %}{% endfor %}